.background{
    background-image: url("Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.navbarimg{
    height: 30px;
}

.chatarea{
    background-color: rgba(192, 37, 41, 0.85);
    height: 77.5vh;
    overflow-y: auto;
    overflow-x: hidden;
}
